:root {
  --text: #eff5df;
  --background: #0d0f05;
  --primary: #d2e09c;
  --secondary: #28687f;
  --accent: #5e5acc;
  --card-bg: #15170d;
}

.navi {
  color: var(--text);
  font-weight: 600;
  font-size: 15pt;
}

.navi:hover {
    text-decoration: none;
    color: var(--text);
}
