:root {
  --text: #eff5df;
  --text-light: #eff5df98;
  --background: #0d0f05;
  --primary: #d2e09c;
  --secondary: #28687f;
  --accent: #5e5acc;
  --card-bg: #15170d;
}

.comment-box {
  text-align: center;
  border: 1px solid var(--text-light);
  padding: 0.5rem 1.5rem;
  border-radius: 1.5rem;
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.3s, color 0.3s;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.comment-box:hover {
  background-color: var(--primary);
  color: var(--card-bg);
}


.modal-header, .modal-footer {
  background-color: var(--background);
  color: var(--text);
}

.modal-body {
  background-color: var(--background);
}

.comment .card {
  background-color: var(--card-bg);
  color: var(--text);
}

.replay-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.replay-btn:hover {
  color: var(--text);
}

.replay-btn-icon {
  margin-right: 5px;
  font-size: 18px;
}

.comment .replay {
  background-color: var(--background);
}

.commandfilter {
  background-color: transparent;
  color: var(--text); 
  font-size: 16px;
  margin-top: 0.3rem;
  margin-left: 1rem;
  border: none;
  outline: none;
}

.commandfilter option {
  background-color: var(--card-bg); 
  color: var(--text);
}

.post-command-input {
  border-radius: 0.5rem;
  background-color: var(--card-bg);
  color: var(--text);
}

.post-command-input:focus {
  outline: none;
  border: none;
}

.counters {
  color: var(--text-light);
}

.error-message {
  color: var(--text-light);
}


@media only screen and (max-width: 600px) {
  .comment-box {
    padding: 0.5rem 4rem;
    font-size: 0.8rem;
  }
}
