/* Comingsoon.css */

:root {
    --text: #eff5df;
    --background: #0d0f05;
    --primary: #d2e09c;
    --secondary: #28687f;
    --accent: #5e5acc;
    --card-bg: #15170d78;
}

.comingsoon-container {
    color: var(--text);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
}

.content h1 {
    color: var(--primary);
}

.content h3 {
    color: var(--secondary);
}

.content p {
    color: var(--text);
    font-size: 1.2rem;
    line-height: 1.6;
}
